[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell6 kcm_darklydecoration
Icon=preferences-system-windows
Name=Darkly: Window Decoration
