[Desktop Entry]
Version=1.0
Type=Application
Name=ZarchBlack Welcome Center
Exec=zarchblack-welcome
Icon=zarchblack-welcome
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
