# Load partition table and file system modules
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660

# Use graphics-mode output
if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod all_video
    set gfxmode="auto"
    set theme="/boot/grub/themes/ZeroLayan/theme.txt"
    export theme
    terminal_output gfxterm
fi

# Get a human readable platform identifier
if [ "${grub_platform}" == 'efi' ]; then
    archiso_platform='UEFI'
    if [ "${grub_cpu}" == 'x86_64' ]; then
        archiso_platform="x64 ${archiso_platform}"
    fi
elif [ "${grub_platform}" == 'pc' ]; then
    archiso_platform='BIOS'
fi

# Set default menu entry
default=ZarchBlack
timeout=15
timeout_style=menu

# Menu entries
menuentry "ZarchBlack (x86_64, ${archiso_platform})" --class zarchblack --class gnu-linux --class gnu --class os --id 'ZarchBlack' {
    set gfxpayload=keep
    linux /zarchblack/boot/x86_64/vmlinuz-linux-zen archisobasedir=zarchblack archisosearchuuid=%ARCHISO_UUID% pcie_aspm=off pci=noaer apparmor=1 security=apparmor audit=1
    initrd /zarchblack/boot/x86_64/initramfs-linux-zen.img
}

if [ "${grub_platform}" == 'efi' ]; then
    menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
        fwsetup
    }
fi

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'System shutting down...'
    halt
}

menuentry 'System restart' --class reboot --class restart {
    echo 'System rebooting...'
    reboot
}
