[Unit]
Description=ZarchBlack Initialization Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zarchblack-init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
